.login-form {
    padding: 20px;
    border-radius: 15px;

}

input {
    display: block;
    margin: 8px;
}

input[type="email"],
input[type="password"] {
    width: 260px;
    height: 42px;
    padding: 8px 12px;
    border: 1px solid darkblue;
    background-color: lightblue;
}