a {
    text-decoration: none;
    color: black;
}


a:hover {
    text-decoration: underline;
    color: rgb(204, 66, 238);
}

a:active {
    color: rgb(0, 195, 255);
}

input[type="email"] {
    border: 2px solid rgb(39, 255, 172);
    padding: 10px;
    border-radius: 8px;
}

input[type="email"]:invalid {
    background-color: rgb(129, 250, 209);
}

input[type="email"]:valid {
    background-color: rgb(26, 255, 160);
}
